/* COMMONS & UTILITIES */
html {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* STYLE */
/* _header */
header {
  height: 70px;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  color: red;
  font-size: 22px;
}

header input {
  padding: 4px 5px;
}

header .filters select {
  height: 20px;
}

header .filters button.resetFilters {
  width: 70px;
  text-align: center;
  color: white;
  background-color: red;
  border: none;
  height: 20px;
  line-height: 20px;
}

/* _main */
main {
  width: 100vw;
  background-color: #434343;
  min-height: calc(100vh - 70px);
  overflow-x: scroll; /* solo per scorrimento orizzontale */
}

main .errorMessage {
  margin: 50px auto;
  color: white;
  font-size: 22px;
  text-align: center;
}

main ul.results {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; // solo per scorrimento verticale */
  padding: 5px 20px;
}

main .movie-container {
  position: relative;
  margin: 5px;
  height: 515px;
  width: 344px;
  border: 1px solid #d6d6d6;
}

main .movie-container img.poster {
  z-index: 0;
  height: 513px;
  width: 342px;
}

main .movie-container .categoryTagContainer {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

main .movie-container .categoryTag {
    position: absolute;
    top: 25px;
    right: -30px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px rgb(10, 10, 10);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: rgba(255, 0, 0, 0.7);
    transform: rotate(45deg);
}

main .movie-container .movie-data {
  height: 513px;
  width: 342px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%);
  color: white;
  display: none;
  padding: 35px 20px;
  overflow-y: hidden;
}

main .movie-container:hover .movie-data {
  display: block;
  overflow-y: hidden;
}

main .movie-container .movie-data > div {
  line-height: 1.4;
}

main .movie-container .movie-data .score-container i {
  color: #ffbd00;
}

main .movie-container .movie-data .description {
  overflow-y: hidden;
}

.language .flag {
  width: 15px;
}
