<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">
        <header>
            <input type="text" name="searchByTerm" id="searchByTerm" placeholder="Scrivi qui il termine che vuoi cercare" v-model="searchByTerm" @keyup.enter="queryDatabase">
            <button @click="queryDatabase">Invia</button>
        </header>

        <main>
            <h2>Risultati della ricerca</h2>
<!-- al max restituisce 20 risultati: cambiare? -->
            <div class="quantity" v-if="searchByTermResults !== ''">Numero di risultati ottenuti: {{searchByTermResults.length}}</div>
            <ul class="results">
                <li v-for="movie in searchByTermResults">
                    <div>
                        <h3>{{movie.title}}</h3>
                        <div class="original">{{movie.original_title}}</div>
                        <span class="lang">{{movie.original_language}} / </span>
                        <div class="score-container">
                            <i class="vote fas fa-star" v-for="star in (Math.ceil(movie.vote_average / 2))"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>
    
    <script src="./js/main.js"></script>
</body>
</html>