<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">
        <header>
            <span class="logo">BOOLFLIX</span>
            <div class="filters" v-if="searchIsActive === true">
                <select name="genres" id="genres" v-model="selectedGenre">
                    <option value="">-- Select a genre --</option>
                    <option v-for="genre in allGenres" >{{genre.name}}</option>
                </select>
                <select name="categories" id="categories" v-model="selectedCategory">
                    <option value="">-- Select a category --</option>
                    <option v-for="category in categories" >{{category}}</option>
                </select>
                <button class="resetFilters" @click="resetFilters">Reset</button>
            </div>
            <input type="text" name="searchByTerm" id="searchByTerm" placeholder="Search..." v-model="searchByTerm" @keyup.enter="queryDatabase">
        </header>

        <main>
            <div class="initial-message" v-if="searchIsActive === false">
                <span>{{initialMessage}}</span>
            </div>
            <div class="errorMessage" v-if="queryValidation.value === false">{{queryValidation.errorMessage}}</div>
            <ul class="results" v-else-if="queryValidation.value === true">
                <li class="movie-container" v-for="movie in searchByTermResults" v-if="(movie.genre_ids.includes(selectedGenre) || selectedGenre === '') && (movie.category === selectedCategory || selectedCategory === '')" @mouseenter="displayMoreInfo(movie)">
                        
                    <img class="poster" :src="movie.poster_path.includes('img-fallback') ? (movie.poster_path) : ('https://image.tmdb.org/t/p/w342/' + movie.poster_path)" alt="cover">

                    <div class="categoryTagContainer">
                        <div class="categoryTag" v-if="movie.category === 'movie'">Movie</div>
                        <div class="categoryTag" v-else-if="movie.category === 'tv'">Tv Series</div>
                    </div>

                    <div class="movie-data">
                        
                        <!-- !! title  e original presentano la condizione perché le alcune proprietà dei movie hanno nomi diversi rispetto a quelle corrispondenti delle serie tv !! -->
                        <!-- title -->
                        <div class="title" v-if="movie.title"><strong>Titolo:</strong> {{movie.title}}</div>
                        <div class="title" v-else-if="movie.name"><strong>Titolo:</strong> {{movie.name}}</div>
                        <!-- /title -->
                        
                        <div class="original" v-if="displayOriginalTitle(movie)">
                            <strong>Titolo originale:</strong>{{movie.original_title ? movie.original_title : movie.original_name}}
                        </div>
                        
                        <div class="cast">
                            <strong>Cast: </strong>{{cast}}
                        </div>

                        <!-- language -->
                        <div class="language">
                            <strong>Lingua: </strong>
                            <img class="flag" :src="displayGBFlag(movie)" :alt="movie.original_language">
                        </div>
                        <!-- /language -->

                        <div class="score-container">
                            <strong>Voto: </strong><i v-for="star in 5" :class="displayStars(star, movie)"></i>
                        </div>

                        <div class="genre">
                            <strong>Genere: </strong>
                            <span>{{movie.genre_ids.join(", ")}}</span>
                        </div>

                        <div class="description">
                            <strong>Overview: </strong>{{displayDescription(movie.overview, 150)}}
                        </div>
                    </div>

                </li>
            </ul>
        </main>
    </div>
    
    <script src="./js/main.js"></script>
</body>
</html>